.image {
    border-radius: 3px;
}
.video {
    margin-bottom: 100px;
}
.container {
    width: 90%;
    margin: 30px auto;
}
.li {
    list-style-type: none;
    padding-left: 10px;
    font-size: 1.2em;
    text-align: left;
}
.ul {
    margin: 0 auto;
    padding-left: 0px;
}
.instruct {
    letter-spacing: 1.2px;
    line-height:1.4;
    text-align: justify;
}
.title {
    background-color: rgba(255, 166, 0, 0.15);
    line-height: normal;
    padding: 0.5em;
    border-radius: 3px;
}
.instructProgress {
    letter-spacing: 1.2px;
    line-height:1.4;
    text-align: justify;
    margin-bottom: 30px;
}
.label {
    display: flex;
    flex-direction: row;
    justify-content:align-center;
}
.ulLabel {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
.textIngredient {
    padding-left: 10px;
}